.title {
    font-size: 30;
    horizontal-align: center;
    margin: 0;
    color: #009688;
}

.snippet {
    font-size: 18;
    horizontal-align: center;
    margin: 0;
    margin-bottom: 20;
    color: #999;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.infoWindowImage {
    horizontal-align: center;
    margin: 0;
}

.infoWindowCoordinates {
    horizontal-align: left;
    margin: 0;
    color: #999999;
    font-size: 16;
    font-weight: bold;
    text-decoration: none;
}
